# Python / ML Service
**/__pycache__/
ml-service/venv/
ml-service/.pytest_cache/
ml-service/runs/
*.pt
*.onnx
*.zip

# Node / Web Client
web-client/node_modules/
web-client/.next/
web-client/.env*.local

# Datasets
unified_dataset/

# OS / Editor
.DS_Store
.vscode/
